.git
.github
**/.next
.pnpm-store
**/coverage
**/dist
**/node_modules
playwright-report
test-results
tmp
/storage
!apps/api/src/modules/storage
!apps/api/src/modules/storage/**
*.log
.env
.env.*
!.env.example
